.footer{
    width: 100%;
    padding: 9.06rem 6.5rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(199, 214, 254, 0.13);
    background: #000;
    flex-wrap: wrap;
}

.address p{
    width: 9.34563rem;
    color: rgba(239, 245, 255, 0.69);
font-family: var(--font-family-primary);
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 1rem; /* 133.333% */
}

.social{
    margin-top: 2.6rem;
    display: flex;
    gap: .8rem;
}

.footer-pages{
    flex-wrap: wrap;
    display: flex;
    gap: 6.68rem;
}
.footer-pages h5{
    padding-bottom: 1.75rem;
    color: rgba(252, 253, 255, 0.94);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
}

.footer-pages p{
    
    color: rgba(239, 245, 255, 0.69);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
}
